body {
    color: #282828;
    font-family: Helvetica, san-serif;
    line-height: 1.5rem;
    margin: 0 auto;
    max-width: 769px;
    padding: 40px;
}

h1 {
    font-weight: normal;
}

h2 span {
    font-size: 10px;
}

a {
    color: #2a7ba5;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.code {
    color: #424242;
    font-family: monospace;
    line-height: 1rem;
}